/** NAVABR          */

.nav-item .nav-link
{

    color: rgb(92, 90, 90);
}
.nav-item .nav-link.active
{
  color: #31cdd8;
}
.nav-item .nav-link:hover
{
  color: #31cdd8;

} 
 .navbar-collapse
{
    display: flex;
    justify-content: center;
    align-items: center;
}



.fa-user
{
  color: #50abc8;
  font-size: 20px;
  padding-top: 15px;
  margin: auto;

}
.user_name
{
  color: #50abc8;
  font: bold  15px;
}

/** HOme **/


.content1
{
   padding-top: 200px;
}
.content1 h1
{
    padding-bottom: 10px;
}
.content1 h1,.content1 p
{
    text-align: center;
    color: white;
}
.btn-shine{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine{
  0%{
    background-position: 0;
  }
  60%{
    background-position: 180px;
  }
  100%{
    background-position: 180px;
  }
}
.a1 .fa-arrow-down
{
    color: white;
    font-size: 15px;
   position: absolute;
   left: 50%;
   padding-top: 20px;

}



/** card **/

.card-img-overlay .card-title,.card-text
{
  color: rgb(15, 79, 148);
  font-size: 20px;
}
.pres_h2
{
  text-align: center;
  color: rgb(15, 79, 148);
  margin-bottom: 10px;
}
.card-title
{
  margin-bottom: 15px;
}


/** footer **/


footer
{
    
    padding: 25px;
    border-radius: 50px  50px 0 0 ;
}


/* start doctors */

.container{
  margin-bottom: 60px;
}
.card-img-top{
  width: 250px;
  height: 250px;
}

.m{
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4584b7;
  /* text-shadow: 3px 3px 5px rgba(63, 59, 59, 0.603); */

}
.n{
font-family: "Raleway", sans-serif;
font-weight: 600;
font-size: 15px;
color: #873e51;
/* text-shadow: 3px 3px 5px rgba(63, 59, 59, 0.603); */
}
.doc{
  background-color: #873e51 !important;
  width: fit-content;
  margin-left: 37%;
  transition: 0.5s !important;
}
.doc:hover{
  transform: scale(1.1);
  color: white !important;
}
.pos{
  position: relative;
}
.product-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 250px;
  transform: scaleX(0);
  opacity: 0.7;
  transition: all 1s;
  background-color:rgba(0,0,0,40%);
  width: 100%;
   /* border: 1px solid red; */
}

.pos:hover .product-overlay,
.pos:hover .product-overlay i {
  transform: scaleX(1);
  color: white;
}
.product-overlay .list-unstyled {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
  list-style: none;
}
.product-overlay .list-unstyled li {
  font-size: 30px;
}
.product-overlay .list-unstyled li:hover i {
  transform: scale(1.2);
}
.conc{
  background-color: rgba(205, 205, 200, 0.135) !important;
}
.iconn{
  width: 100px;
  height: 100px;
  background: white;
  margin: 20px auto;
  border-radius: 50%;
}
.iconn i{
  color:#13C2D9;
  font-size: 30px;
}
.contacc{
  width: 100% !important;
  height: 100% !important;
}
.contt:hover{
  color: white !important;

}



/* start services */
.service-item .service-icon {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #13C2D9 ;
  border-radius: 50%;
  transform: rotate(-14deg);
}
.service-item {
  position: relative;
  height: 350px;
  padding: 0 30px;
  transition: .5s;
}
.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -10px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  background:#13C2D9  ;
}

.service-item:hover a.btn{
  opacity: 1;
  transform-origin: bottom;
}
a.btn{
  transition: 1s;

}
button.btn{
  transition: 1s;
}


.btn-primary {
  color: black;
}

/* start pricing */
.price{
box-shadow: 2px 3px 4px rgb(168, 166, 166);
border-radius:10px;
}
.price .pricing_header {
background-color: #13C2D9;
}
.pricing_header{
position: relative;
height: 60px;
}
.benefits{
margin-top: 40px;
}
.benefits ul{
list-style: none;
}
.pri h2{
margin-top: 10px;

}

.pricing_header .brain ,.adb,.sur ,.imm{
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
top: 50%;
left: 80%;
}

.res{
margin-bottom:10px;

}

.btn-primary{
background-color: #13C2D9 !important;
border: none !important;
}
.btn-primary:hover {
transform: scale(1.1);
color: black !important;
}
.pricing_body{
font-size: 17px;
line-height: 1.8;
}
#price{
margin-top: -90px;
}

body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 180px;
  z-index: 600;
  background-color: #1b1c1c;
}
.list-group-item
{
  background-color: #1b1c1c !important;
}
@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  color: black;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.list-group-item i
{
margin-right: 20px;
}
#btt
{
  margin:50px 0px 20px 90px;
}
.table
{
  width: 100%;
  margin-left: 90px;
  margin-top: 50px;
}
.fa-pen-to-square,.fa-trash-can
{
  font-size: 20px;
}
.fa-pen-to-square,.fa-trash-can:hover
{
  cursor: pointer;
}

.profile
{
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.card-img-top{
  width: auto;
}
.qualified{
  color:#0b616c;
}

.final{
  width: 80%;
}